<!DOCTYPE html>
<html>
  <head>
    <title>Members Only Clubhouse</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    
    <%= javascript_importmap_tags rescue nil %>
  </head>

  <body>
    <nav class="navbar">
      <%= link_to "CLUBHOUSE", root_path, class: "brand" %>
      
      <div class="nav-links">
        <% if user_signed_in? %>
          <span class="nav-text">Logged in as <%= current_user.email %></span>
          <%= link_to "New Secret", new_post_path, class: "btn btn-primary" %>
          <%= button_to "Log Out", destroy_user_session_path, method: :delete, class: "btn btn-danger" %>
        <% else %>
          <%= link_to "Sign Up", new_user_registration_path, class: "btn btn-primary" %>
          <%= link_to "Log In", new_user_session_path, class: "btn btn-primary" %>
        <% end %>
      </div>
    </nav>

    <main class="container">
      <%= yield %> 
    </main>
  </body>
</html>